* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

#header-img {
	max-width: 100%;
	display: block;
}

body {
	background-color: #666;
}


/*HEADER STYLES */

header#header {
	height: 100vh;
}

main {
	margin: 1em;
}


/*NAVBAR STYLES*/

#nav-bar {
	position: fixed;
	top: 0;
	right: 5px;
	background-color: transparent;
	background-color: #666;
	padding: 1em;
	width: 100vw;

}

li.nav-link {
	list-style: none;
	display: inline;
	padding-left: 30px;
}


li.nav-link a {
	color: #ffffff;
	text-shadow: 2px 2px 4px #000;
	font-size: 1.4em;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.2em;
	margin: 1em;
}


/*SECTION STYLES*/

section {
	margin: 2em;
}